/*CSS*/
body {
    background: #212529;
    color: #f8f9fa;
    
  }
  .header {
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
  }
  h1 {
    text-align: center;
    color:#f8f9fa;
    font-family: 'Lato', sans-serif;
    border-radius: 25px;
    border: 2px solid #f8f9fa;
    font-size: 5rem;
    font-weight: 800;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 0px;
  }
  h2 {
      font-family: 'Lato', sans-serif;
      border-radius: 25px;
      border: 2px solid #f8f9fa;
      font-size: 4rem;
      text-align: center;
      font-weight: 800;
      margin-left: 200px;
      margin-right: 200px;
      padding-top: 0px;
    }
p {
  text-align: center;
  color: #f8f9fa;
  font-family: 'Lato', sans-serif;
}

.flex-outer button{
  border-radius: 25px;
  border: 2px solid #f8f9fa;
  color: #212529;
  font-family: 'Lato', sans-serif;
  padding: 15px 32px;
  text-align: center;
  text-align: space-between;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display: table-cell;
  vertical-align: bottom;
  }

